/env
.DS_Store
.vscode/
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# If you use setuptools/pip install -e .
.eggs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## local folders
plots/
checkpoints/
datasets/
annot_data/
plots/
runs/
local/
GEMINI.md
