torch
torchaudio
torchvision

datasets
transformers
evaluate
sacrebleu
tokenizers
huggingface-hub

transformer_lens
circuitsvis
rotary_embedding_torch
einops

ipykernel
ipython
ipywidgets==7.*
jsonschema
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyterlab_widgets

matplotlib
matplotlib-inline
plotly

nltk
tqdm
experimaestro